<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Node Press</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" type="text/css" href="/lib/bootstrap3/css/bootstrap.css">

<style type="text/css">
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);


</style>
<style>

/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
/*  margin-top: 20px;
  margin-left: 50px;*/
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
  height: 128px;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #5A55A3;
  background-image: #5A55A3;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
</style>


</head>

<body>
<div class="container-fluid">

        <div class="col-lg-12 col-md-5 col-sm-8 col-xs-9 bhoechie-tab-container">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
              <div class="list-group">
                <a href="/author" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-home"></h4><br/>Author Panel
                </a>
                <a href="/profile" class="list-group-item active  text-center">
                  <h4 class="glyphicon glyphicon-pencil"></h4><br/>Profile
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-list"></h4><br/>Previous Articles
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-user"></h4><br/>Change Password
                </a>
                <a href="/signout" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-off"></h4><br/>Log out
                </a>
                
              </div>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-9 bhoechie-tab" style="padding-top:70px;">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
		   
		   
		          <div class="panel panel-info">
		            <div class="panel-heading">
		              <h3 class="panel-title"><%=user.name%></h3>
		            </div>
                <form role="form" method="post" action="author/updateProfile" enctype="multipart/form-data">
		            <div class="panel-body">
		              <div class="row">
		                <div class="col-md-3 col-lg-3 " align="center"> 
                      <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"> 
                    </div>

		                <div class=" col-md-9 col-lg-9 "> 
		                  <table class="table table-user-information">
		                    <tbody>
		                      <tr>
		                        <td>Full Name :</td>
                            <%if(user.fullName == 0) {%>
		                        <td><input type="text" name="fName" id="fName" class="form-control" placeholder="Full Name"></td>
                            <%}%>
                            <%if(user.fullName) {%>
                            <td><input type="text" name="fName" id="fName" class="form-control" placeholder="Full Name" value="<%=user.fullName%>" readonly></td>
                            <%}%>
		                      </tr>

		                      <tr>

		                        <td>Date of Birth :</td>
                            <%if(user.birth == 0) {%>
		                        <td><input type="text" id="birth" name="birth" class="form-control" placeholder="Day / Month / Year" /></td>
                            <%}%>
                            <%if(user.birth) {%>
                            <td><input type="text" id="birth" name="birth" class="form-control" placeholder="Day / Month / Year" value="<%=user.birth%>" readonly/></td>
                            <%}%>
		                      </tr>
		                   
		                       
		                      <tr>
		                        <td>Gender</td>
		                        <td>
                                <div class="btn-toolbar">
                                    <!--Default buttons with dropdown menu-->
                                    <div class="btn-group">
                                        <%if(user.gender == 0) {%>
                                        <button type="button" id="gender" name="gender" class="btn btn-default">Select Gender
                                        </button>
                                        <%}%>
                                        <%if(user.gender) {%>
                                        <button type="button" id="gender" name="gender" class="btn btn-default"><%=user.gender%>
                                        </button>
                                        <%}%>
                                        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li onclick="change('Male')">
                                              <a href="#">Male</a>
                                            </li>
                                            <li onclick="change('Female')">
                                              <a href="#">Female</a>
                                            </li>

                                        </ul>

                                        <input type="hidden" name="Pgender" id="Pgender" />
                                    </div>
                                    
                                </div>



                            </td>
		                      </tr>
		                        <tr>
		                        <td>Home Address :</td>
                            <%if(user.address == 0) {%>
		                        <td>
                              <textarea name="address" id="address" class="form-control" placeholder="Home Address"></textarea>
                            </td>
                            <%}%>
                            <%if(user.address) {%>
                            <td>
                              <textarea name="address" id="address" class="form-control" placeholder="Home Address"  readonly> <%=user.address%> </textarea>
                            </td>
                            <%}%>
		                      </tr>
		                      <tr>
		                        <td>Email :</td>
		                        <td><%=user.email%></td>
		                      </tr>
                          <tr>
		                        <td>Mobile Number :</td>
                            <%if(user.mobile == 0) {%>
		                        <td><input type="number" name="mobile" id="mobile" class="form-control" placeholder="Mobile Number"/></td>
		                        <%}%>
                            <%if(user.mobile) {%>
                            <td><input type="number" name="mobile" id="mobile" class="form-control" placeholder="Mobile Number" value="<%=user.mobile%>" readonly/></td>
                            <%}%>
		                      </tr>
		                     
		                    </tbody>
		                  </table>
		                </div>
		              </div>
		            </div>

                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-user">  Upload Profile Picture</i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            
                            <button type="submit" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-ok"></i></button>
                        </span>
                    </div>
		            </form>
		          </div>
		        </div>               


            </div>
        </div>

</div>
<script src="/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap3/js/bootstrap.js"></script>


<script type='text/javascript'> 

var gender;
function change(g)
{
  console.log(g);
  $("#gender").text(g);
  $("#Pgender").val(g);

}

        
</script> 
</body>
</html>