<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Node Press</title>
<link rel="stylesheet" type="text/css" href="/lib/bootstrap3/css/bootstrap.css">

<link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Node Press</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ><a href="/">Home</a></li>
            <li class="active"><a href="/about">About</a></li>
             <%if (login == '1') { %>   
                <li><a href="#about">Profile</a></li>
                <li><a href="author">Dashboard</a></li>
            <%}%>
            <%if (login == '0') { %>
                <li><a href="signin">Sign In</a></li>
            <%}%>
            <%if (login == '1') { %>
                <li><a href="signout" class="nav-menu">Sign Out</a></li>
            <%}%>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container" style="margin-top:100px;">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>

        <div class="row" style="height:450px;">
           <p id="showAbout"> </p>
        </div>








        </div><!--/span-->

      </div><!--/row-->

      <hr>

      <footer>
        <p>copyright © Nodepress</p>
      </footer>

    </div><!--/.container-->



<script src="/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap3/js/bootstrap.js"></script>
<script type="text/javascript">
$(document).ready(function(){
   var str = '<%= about %>';
   html = $.parseHTML(str);
   html1 =html[0].textContent;
   console.log(html);
   console.log(html1);
   html2 = $.parseHTML(html1);
   $("#showAbout").append(html2)
})
</script>

</html>