<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Node Press</title>
<link rel="stylesheet" type="text/css" href="/lib/bootstrap3/css/bootstrap.css">

<link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Node Press</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/about">About</a></li>
             <%if (login == '1') { %> 
                <%if(type != "admin"){%>  
                <li><a href="/profile">Profile</a></li>
                <%}%>
                <li><a href="author">Dashboard</a></li>
            <%}%>
            <%if (login == '0') { %>
                <li><a href="signin">Sign In</a></li>
            <%}%>
            <%if (login == '1') { %>
                <li><a href="signout" class="nav-menu">Sign Out</a></li>
            <%}%>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container" style="margin-top:100px;">

      <div class="row row-offcanvas row-offcanvas-right">
           <div class="jumbotron">
            <h1><center>Node Press Blogger </center></h1>
            
          </div>
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>

        <div class="row" >
          <%for(var i=0;i<user.length;i++){%>
            <%if(user[i].userType == "Author"){%>
              <%for(var j=0;j<user[i].article.length;j++){%>
                  <%if(user[i].article[j].status != "pending"){%>
                  <div class="col-sm-12">
                    <h4><strong><a href="#"><%= user[i].article[j].title%></a></strong></h4>
                  </div>
                  <div class="col-sm-4">

                    <a href="#" class="thumbnail">
                        
                        <img style="height:150px; width:100%;" class="img-responsive" src="img/<%=user[i].article[j].image %>" alt="Not Available">
                    </a>
                  </div>
                  <div class="col-sm-8">      
                    <p id="showArticle">
                     
                    </p>
                    <p style="padding-right:20px;"><a class="btn btn-default pull-right" href="#">Read more</a></p>
                  </div>

                  <div class="col-sm-12">
                    <p></p>
                    <p>
                      <i class="glyphicon glyphicon-user"></i> by <a href="#"><%=user[i].name%></a> 
                      | <i class="glyphicon glyphicon-calendar"></i> <%= user[i].article[j].created.getDate()%> - <%= user[i].article[j].created.getMonth()%> - <%= user[i].article[j].created.getFullYear()%>
                      | <i class="glyphicon glyphicon-comment"></i> <a href="#">3 Comments</a>
                      | <i class="glyphicon glyphicon-share"></i> <a href="#">39 Shares</a>
                      | <i class="glyphicon glyphicon-tags"></i> Tags : <a href="#"><span class="label label-info">Snipp</span></a> 
                      <a href="#"><span class="label label-info">Bootstrap</span></a> 
                      <a href="#"><span class="label label-info">UI</span></a> 
                      <a href="#"><span class="label label-info">growth</span></a>
                    </p>
                  </div>
                  <%}%>
                <%}%>
              <%}%>
            <%}%>
        </div>








  </div><!--/span-->

          <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="list-group">
              <a href="#" class="list-group-item active">Link</a>
              <a href="#" class="list-group-item">Link</a>
              <a href="#" class="list-group-item">Link</a>
              <a href="#" class="list-group-item">Link</a>
              <a href="#" class="list-group-item">Link</a>
              <a href="#" class="list-group-item">Link</a>
              <a href="#" class="list-group-item">Link</a>
              <a href="#" class="list-group-item">Link</a>
              <a href="#" class="list-group-item">Link</a>
              <a href="#" class="list-group-item">Link</a>
            </div>
          </div><!--/span-->
        </div><!--/row-->

      <hr>

      <footer>
        <p>copyright © Nodepress</p>
      </footer>

    </div><!--/.container-->

<script src="/lib/jquery/jquery.min.js"></script>
<script type="text/javascript">

console.log("TEst");

  <%for(var i=0;i<user.length;i++){%>
    <%if(user[i].userType == "Author"){%>
      <%for(var j=0;j<user[i].article.length;j++){%>
          <%if(user[i].article[j].status != "pending"){%>
          var str= <% if(user[i].article[j].article){%>
          <%- JSON.stringify(user[i].article[j].article) %>
          <%}%>;

           html = $.parseHTML(str);
           html1 =html[0].textContent;
           html2 = $.parseHTML(html1);
           console.log(html2);

            $("#showArticle").append(html2);

            <%}%>
        <%}%>
      <%}%>
    <%}%>
</script>

</html>