<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Node Press</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" type="text/css" href="/lib/bootstrap3/css/bootstrap.css">

<style type="text/css">
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);


</style>
<style>

/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
/*  margin-top: 20px;
  margin-left: 50px;*/
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
  height: 128px;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #5A55A3;
  background-image: #5A55A3;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
</style>


</head>

<body>
<div class="container-fluid">

        <div class="col-lg-12 col-md-5 col-sm-8 col-xs-9 bhoechie-tab-container">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
              <div class="list-group">
                <a href="/author" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-home"></h4><br/>Author Panel
                </a>
                <a href="/author/write-article" class="list-group-item  text-center">
                  <h4 class="glyphicon glyphicon-pencil"></h4><br/>Submit Article
                </a>
                <a href="#" class="list-group-item active text-center">
                  <h4 class="glyphicon glyphicon-list"></h4><br/>Previous Articles
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-user"></h4><br/>Change Password
                </a>
                <a href="/signout" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-off"></h4><br/>Log out
                </a>
                
              </div>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                   
                  <div class="table-responsive col-lg-11" style="padding-top:50px;">           
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th > <p align="center">Article No</p></th>
                              <th>Title</th>
                              <th>Category</th>
                              <th>Status</th>
                              <th>Date</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for(var i=0;i<user.article.length;i++) {%>
                            <tr>
                              <td align="center">1</td>
                              <%if(user.article[i].status == "pending"){%>
                              <td><a href="#" onclic="showArticle(<%=user.article[i].title%>)"><%= user.article[i].title%></a>
                              </td>
                              <%}%>
                              <%if(user.article[i].status == "Publish"){%>
                              <td ><a style="color:green" href="#" onclic="showArticle(<%=user.article[i].title%>)"><%= user.article[i].title%></a>
                              </td>
                              <%}%>
                              <%if(user.article[i].status == "Reject"){%>
                              <td ><a style="color:red" href="#" onclic="showArticle(<%=user.article[i].title%>)"><%= user.article[i].title%></a>
                              </td>
                              <%}%>
                              <td><%= user.article[i].category%></td>
                              
                              <%if(user.article[i].status == "pending"){%>
                                <td><%= user.article[i].status%></td>
                              <%}%>
                              <%if(user.article[i].status == "Publish"){%>
                                <td style="color:green"><%= user.article[i].status%></td>
                              <%}%>
                              <%if(user.article[i].status == "Reject"){%>
                                <td style="color:red"><%= user.article[i].status%></td>
                              <%}%>

                              <td><%= user.article[i].created.getDate()%> - <%= user.article[i].created.getMonth()%> -<%= user.article[i].created.getFullYear()%></td>
                            </tr>

                            <%}%>
                            
                          </tbody>
                        </table>
                        </div>

            </div>
        </div>

</div>
<script src="/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap3/js/bootstrap.js"></script>


<script type='text/javascript'> 

            function showArticle(title){

              console.log(title);
            }

        
</script> 
</body>
</html>